@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsblack';
    src: url('../fonts/poppins-black-webfont.woff2') format('woff2'),
         url('../fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsblack_italic';
    src: url('../fonts/poppins-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsbold_italic';
    src: url('../fonts/poppins-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsextrabold';
    src: url('../fonts/poppins-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsextrabold_italic';
    src: url('../fonts/poppins-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsextralight';
    src: url('../fonts/poppins-extralight-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsextralight_italic';
    src: url('../fonts/poppins-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsitalic';
    src: url('../fonts/poppins-italic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight_italic';
    src: url('../fonts/poppins-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/poppins-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on January 18, 2023 */
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('../fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('../fonts/robotocondensed-italic-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('../fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{margin: 0;padding: 0;box-sizing: border-box;}
/* body{font-family: 'robotoregular';} */
.nav-wraper{width: 100%;}
.yellow-btn {background: #eb9602;border: none;color: black;color: white;}.yellow-btn:hover{background-color: #25345b;}
.lg-btn{padding: 5px 30px;font-weight: 600;}
h3.httext {FONT-WEIGHT: 900;}
/* .feature-cards p , .feature-cards h6 , .feature-details p , */p{margin: 0;}
.fee-txt p {line-height: 20px;font-size: 14px;}

/* menu css start  */
.menu-area {
  display: flex;
  align-items: center;
}
nav.custom-nav {
  padding: 0;
}
ul li a:hover{text-decoration:none;}
.nav-wraper .custom-nav li.menuparent ul{
  display:none;
  position:absolute;
  top:44px;
  left:0;
  width:150px;
  z-index: 9;
  background: #195c9f;
  list-style: none;
  padding: 0;
  transition:3s;
}
.nav-wraper .nice-menu > .menu-item a{color: black !important;}
.nav-wraper .nice-menu > .menu-item a:hover, .nav-wraper .nice-menu > .menu-item a:active {
  color: red !important;
}
.nav-wraper .nice-menu.custom-navbar{justify-content: space-between; width: 100%;}
.nav-wraper .custom-nav li.menuparent:hover > ul li ul{left:150px;top:0}
.nav-wraper .custom-nav li.menuparent:hover > ul li ul li ul{left:150px;top:0}
.nav-wraper .custom-nav li.menuparent:hover > ul{display: block;transition:3s}
.nav-wraper .custom-nav li{position:relative}

/* menu css end  */

/* banner css start  */
.banner-area{
  position: relative;
}
/* banner css end  */

/* quick services css start  */
.quick-services-area {
  position: relative;
  bottom: 100px;
}
.quick-services-area .q-service {
  text-align: center;
  position: relative;
  z-index: 9999;
}
.quick-services-area .q-service h6{margin:10px 0 0 0}
.quick-services-area .q-service p{font-size: 14px;}
.quick-services-area .q-service.rt-1:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: -10px;
    left: 0;
    height: 200px;
    border-left: 285px solid #f7c369;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}
.quick-services-area .q-service.rt-2:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: -10px;
    left: 0;
    height: 200px;
    border-right: 285px solid rgb(254 219 159);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}
/* quick services css end  */

/* welocome section start */
.welocme-text .btn{margin-top: 15px;}
.welcome-area  .morder-sec {
   position: relative;
   margin-top: 30px;
}
.welcome-area  .morder-sec:after {
    content: '';
    background: #e5e5e5;
    display: block;
    position: absolute;
    height: 2px;
    width: 59%;
    top: 12px;
    right: 0;
}
.welcome-area  .welcoem-img {
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.welcome-area  .welcoem-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.welcome-area  .img-txt-area p{
    margin: 0;
    color: white; font-size: 14px;
}
.welcome-area .img-httext {font-weight: 600;}
.welcome-area  .img-txt-area{
background: #eb9602;
    padding: 0 28px 15px;}
/* welocome section end  */

/* feature services section start  */
.feature-area{margin: 80px 0;}
.feature-img img {
    width: auto !important;margin: 0 auto;padding: 10px;
}
.feature-cards .item{border:1px solid #f7c369} 
.feature-cards{text-align: center; margin: 30px 0;}
.feature-cards h6{font-size: 14px;}
.feature-cards p{font-size: 12px;padding-bottom: 10px;}
.feature-cards .owl-carousel .owl-dots {
    display: none;
}
.feature-cards .owl-carousel .owl-nav {
    position: relative;
    bottom: 120px;
    display: block !important;
}

.feature-cards button.owl-prev {
    position: absolute;
    left: -20px;
}
.feature-cards button.owl-next {
    position: absolute;
    right: -20px;
}

.feature-cards button.owl-prev span , .feature-cards button.owl-next span{
    background: #eb9602;
    font-size: 34px;
    font-weight: 800;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 20px;
    border-radius: 50%;
    color: white;
}
.feature-details p , .txt-head p{font-size: 14px; line-height: 20px;text-align: justify;}
.feature-details .btn{margin-top: 15px;}
.head-txt , .fee-txt , .quick-txt{
    position: relative;
}
.head-txt:after , .fee-txt:after , .quick-txt:after{
    content: '';
    background: #e5e5e5;
    display: block;
    position: absolute;
    height: 2px;
    width: 59%;
    top: 12px;
    right: 0;
}
.fee-txt:after{width: 55% !important;}
.feature-ryt-sec .custom-table tr td{padding: 0;font-size: 14px;}
.feature-ryt-sec .custom-table tr td:last-child{text-align: right;}
/* feature services section end  */

/* personal-plan-area css start  */
.plan-txt h3 {
    color: #162c53;
    font-weight: 900;
}
.plan-txt h3{color: #162c53;}
.personal-plan-area{
    background: url(../images/plan-bg.png) no-repeat;
    height: 100%;
    background-size: cover;
   
}
.personal-plan-area .plan-txt{ text-align: center;padding: 160px 0;}

.bl{position: relative;margin-top: 15px;}
.bl:hover:after {
    width: 100%;
}
.bl:after {
    content: "";
    font-family: "Font Awesome 5 Free";
    color: white !important;
    background: #000000;
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.6s ease-in-out;
    z-index: 9999;
}

/* personal-plan-area css end  */

/* footer css start  */
.left-footer>p{margin: 15px 0; font-size: 12px;}
.ver-txt{
    display: flex;
}
.phn i{margin-left: 5px;}
.phn p , .mail p , .addrs p{margin-left: 10px;}
.center-footer , .right-footer{margin-top: 20px;}
.quick-txt:after{width: 55%;}
.center-footer p {
    font-size: 14px !important;
}
.news-head:after{width:54% !important;}
.right-footer .news-prt {
    display: flex;
    color: black;
    border: 1px solid #dbe2e8;
}

.right-footer .news-details {
    font-size: 12px;
    padding: 5px;
}

.right-footer .news-prt img {
    padding: 5px;
}

.right-footer .news-deatils span {
}

.right-footer .news-details span {
    font-weight: 600;
}
.social-icons {
    display: flex;
    margin-top: 10px;
}
.social-icons i {
    padding: 8px 15px;
    color: white;
    font-size: 18px;
}
.social-icons i.fab.fa-facebook-f {
    background-color: #3b5998;
}
.social-icons  .twit {
    background: #4099FF; margin-left: 4px;
}
.social-icons .inst {
    background: #f27558;
    margin-left: 4px;
}
.social-icons .linkedin {
    margin-left: 4px;
    background: #55c8ed;
}
.footer-pd {
    padding: 30px !important;
}
/* footer css end  */

.news-sec-show {display: none;}
.row.custon-rw>div {padding-left: 0;padding-right: 0;}
.row.custon-rw>div:first-child {padding-left: 15px !important;}
.row.custon-rw>div:last-child {padding-right: 15px;}



/* media query css start here  */

@media (max-width: 767px) {
    .quick-services-area .q-service {margin: 13px 22px}
    .quick-services-area {bottom: 30px;}
    .quick-services-area .custon-rw {margin: 0 auto;}
    .welocme-text .httext {font-size: 20px;}
    .welocme-text p {font-size: 14px;}
    .morder-sec h5 {font-size: 18px;}
    .welcome-area .morder-sec:after{display: none;}
    .welcome-area .welcoem-img {margin-top: 15px;}
    .feature-area {margin: 30px 0px;}
    .feature-ryt-sec{margin-top: 15px;}
    .footer-pd {padding: 0px 0 !important;}
    .nav-wraper {padding: 15px 0;}   
    .logo {text-align: center;}

    .row.custon-rw>div:first-child{padding-left: 0 !important;}
  }
  @media only screen and (min-width: 414px) and (max-width: 767px) {
    .quick-services-area .custon-rw {
    margin: 0 20px;
    }
}
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .personal-plan-area{background-size:contain}
    .personal-plan-area .plan-txt {padding: 65px 0;}
    .feature-ryt-sec{margin-top: 15px;}
    .news-sec-show {display: block;}
    .news-sec-hide {display: none;}
    .right-footer.footer-pd.news-sec-show {
        padding-top: 0 !important;
        margin-top: 10px;
    }
    .head-txt:after , .quick-txt:after{width:55%}
    .fee-txt:after{width:50% !important}
    .feature-area {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .row.custon-rw>div:first-child {
        padding-left: 0px !important;
    }
    .quick-services-area .q-service.rt-1:before{left: auto;right: 0;}
    .quick-services-area .q-service.rt-1 {
        padding-left: 78px;
    }
    .quick-services-area .q-service.rt-2 {
        padding-right: 57px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .quick-services-area .q-service.rt-1:before{border-left: 240px solid #f7c369 !important;}
    .quick-services-area .q-service.rt-2:before{border-right: 240px solid rgb(254 219 159);}

  }